<h2>All User details</h2>
<table border="1">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>is_admin</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.is_admin %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New User', new_user_path %>
<%= link_to "Back", :back %>
