<h2>All Orders By User</h2>
<table border="1">
  <% @orders.each do |order| %>
  <tr>
  <td>
  <p>Order ID: <%= order.id %></p>
  <p>User ID: <%= order.user_id %></p>
  <p>Card No: <%= order.card_no %></p>
  <p>Line Items: </p>
  <ul>
    <% order.line_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
  <% end %>
  </td>
  </tr>
</table>
<%= link_to "Main Menu", root_path %>