<% if current_user %>
  <h1>Welcome, <%= current_user.name %></h1>
  <%= link_to 'Log out', user_session_path(current_user), data: { method: :delete } %><br>
  <%= link_to 'Start Shopping', products_path %><br>
  <%= link_to 'All order history', orders_index_path %><br>
  <%= link_to 'My order history', orders_by_user_path(current_user), data: { method: :get } %><br>
<% else %>
  <h1>Welcome page</h1>
  <%= link_to 'Login', new_user_session_path %><br>
  <%= link_to 'Register', users_new_url %><br>
<% end %>
<%= link_to 'Secret page', '/pages/secret' %>
